body{
	/*width: 90%;*/
	
	 font-family: 'Source Sans Pro', sans-serif;
	 overflow: hidden;
}

div.header {
background-color: #87605a;
}
div.headerLeft {
	color:green;
	font-size:48px;
	/* font-weight:bold; */
	display: inline-block;
}

div.headerRight {
	display: inline-block;
	float: right;
	font-size:48px;
	/* font-weight:bold; */
	display: inline-block;
}

div.content {
	width:49.85%;
	display: inline-block;
	 overflow: hidden;
}
#dateNowEt {
	color:#FFFF00;
}


	
.inlineTable {
	/*display: inline-block;*/
	text-align: center;
	width: 100%;
	border-color: #ffffff;
  border-spacing: 0px;
  overflow: hidden;
  /*background-color: #d9cba2;*/

	
}
.inlineTable td {
	font-family: 'Fjalla One', sans-serif;
	
}

.center-text
{
	text-align: center;
	font-family: 'Russo One', sans-serif;
	color: #ffffff;
	
}

.header-text h1 {

  
  /*position:inherit;*/
  padding: 0;
  margin: 0;
  color: #ffffff;
  /*font-family: 'Dosis', 'Lato', sans-serif;*/
  font-size: 3em;
  font-weight: 600;
  
  text-align: center;
  padding-top: 20px;
}


.center-text img
{
	padding: 10px;
}
.right-text
{
	text-align: right;
	font-family: 'Russo One', sans-serif;
	color: #061E80;
	font-size: 37px;
	font-weight: 900;


}
.movingtext
{
	text-align: center;
	font-family: 'Russo One', sans-serif;
	color: #061E80;
	font-size: 30px;
	font-weight: 900;
	vertical-align: top;

}
.movingicon
{
	padding-top: 15px;
	padding-bottom: auto;
	font-size: 44px;
	text-align: center;
	vertical-align:top;
}
.clearboth { clear: both; } /* force new line */
.right-bk
{
	height: 100%;
  /*border: 2px solid #000;*/
  border-right:none;
  border-left: none;
  position: relative;
  padding: 20px;
  /*background: url("images/bkg.png") repeat-y*/
    
}

.header-unit {
  height: 150px;
  border: 2px solid #000;
  border-right:none;
  border-left: none;
  position: relative;
  padding: 20px;
}
#video-container {
  position: absolute;
}
#video-container {
  top:21%;
  left:0%;
  height:100%;
  width:100%;
  overflow: hidden;
}
video {
  position:absolute;
  z-index:0;
}
video.fillWidth {
  width: 100%;
}



@keyframes random {
	0% { background-image: url("images/signage/1.jpg") ; }
	10% { background-image: url("images/signage/1.jpg") ;  }
	20% { background-image: url("images/signage/2.jpg") ; }
	30% { background-image: url("images/signage/3.jpg") ; }
	40% { background-image: url("images/signage/4.jpg") ; }
	50% { background-image: url("images/signage/5.jpg") ; }
	60% { background-image: url("images/signage/6.jpg") ; }
	70% { background-image: url("images/signage/7.jpg") ; }
	80% { background-image: url("images/signage/8.jpg") ; }
	90% { background-image: url("images/signage/9.jpg") ; }
	100% { background-image: url("images/signage/9.jpg") ; }




}	
#pagewrapper {
    /*border: 1px solid #999;*/
    /*background-color: #f5f5f5;*/
    margin: 0px 0px;
}
.desc {
	text-align: center;
	width: 100%;
	border-color: #53251b;
    border-spacing: 0px;
    font-size: 1.3em;
    
}
.logo
{
	padding-top: 10px;
	padding-bottom: 1px;
}
.fotter{
	margin-top: auto;
	margin-bottom: auto;
	
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

p{text-align: center;font-family: 'Source Sans Pro', sans-serif, sans-serif;font-size: 2em;}
sup{font-size: 0.3em;}

/* WORDS SWAP */
[data-words]{
  vertical-align: top;
}
[data-words] > span{
  position: absolute;
  color: chocolate;
}

button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input {
    background-color: black;
    color: white;
    cursor: auto;
    
}
.form-group {
    /* margin: auto; */
    margin-left: 50%;
    /* align-items: center; */
    padding-top: 20px;
}
@media (min-width: 500px) {
	.row {
		display:table;
		table-layout: fixed;
		width: 100%;
	}
	.column-half {
	display: table-cell;
	width: 53%;
	padding: 0 0;
	/*outline: 1px solid red;*/

	}
	.column-left {
	display: table-cell;
	width: 20%;
	padding: 0 0;
	text-align: left;
	/*outline: 1px solid red;*/

	}
	.column-right {
	display: table-cell;
	width: 26%;
	padding: 0 0;
	text-align: right;
  position: absolute;
  font-size: x-large;
	/*outline: 1px solid red;*/

	}
}
h1 {
  position: absolute;
  left: 0;
  /*top: 50%;*/
  /*margin-top: -4vmin;*/
  width: 100%;
  text-align: center;
  font-size: 8vmin;
  padding: 2vmin 0;
  /*text-shadow: 0.15vmin 0.15vmin rgba(0, 0, 0, 0.5);*/
}

.wrapper {
  width: 100%;
  margin: 1px auto;  
}
.marquee {
  width: 100%;
  height: 51px;
  margin: 5px auto;
  overflow: hidden;
  position: relative;
  border: 1px solid #53251b;

  background-color: #53251b;

    -webkit-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: inset 0px 2px 2px  rgba(0, 0, 0, .5), 0px 1px 0px  rgba(250, 250, 250, .2);
    box-shadow: inset 0px 2px 2px  rgba(0, 0, 0, .5), 0px 1px 0px  rgba(250, 250, 250, .2);

  -webkit-transition: background-color 350ms;
  -moz-transition: background-color 350ms;
    transition: background-color 350ms;
}

.marquee p {
  position: absolute;
  color :#ffffff;
  /*font-family: Tahoma, Arial, sans-serif;*/

  width: 100%;
  height: 100%;

  margin: 0;

  text-align: center;

  color: #fff;
    text-shadow: 1px 1px 0px #000000;
    filter: dropshadow(color=#000000, offx=1, offy=1);

  transform:translateX(100%);
  -moz-transform:translateX(100%);
  -webkit-transform:translateX(100%);
}
.marquee p:nth-child(1) {
  animation: left-one 40s ease infinite;
  -moz-animation: left-one 40s ease infinite;
  -webkit-animation: left-one 40s ease infinite;
}
.marquee p:nth-child(2) {
  animation: left-two 40s ease infinite;
  -moz-animation: left-two 40s ease infinite;
  -webkit-animation: left-two 40s ease infinite;
}

.marquee p:nth-child(3) {
  animation: left-three 40s ease infinite;
  -moz-animation: left-three 40s ease infinite;
  -webkit-animation: left-three 40s ease infinite;
}
.marquee.down p {
  transform:translateY(-100%);
  -moz-transform:translateY(-100%);
  -webkit-transform:translateY(-100%);
}
.marquee.down p:nth-child(1) {
  animation: down-one 20s ease infinite;
  -moz-animation: down-one 20s ease infinite;
  -webkit-animation: down-one 20s ease infinite;
}
.marquee.down p:nth-child(2) {
  animation: down-two 20s ease infinite;
  -moz-animation: down-two 20s ease infinite;
  -webkit-animation: down-two 20s ease infinite;
}
.marquee.down p:nth-child(3) {
  animation: down-three 20s ease infinite;
  -moz-animation: down-three 20s ease infinite;
  -webkit-animation: down-three 20s ease infinite;
}
.marquee.up p { 
  transform:translateY(100%);
  -moz-transform:translateY(100%);
  -webkit-transform:translateY(100%);
}
.marquee.up p:nth-child(1) {
  animation: up-one 20s ease infinite;
  -moz-animation: up-one 20s ease infinite;
  -webkit-animation: up-one 20s ease infinite;
}
.marquee.up p:nth-child(2) {
  animation: up-two 20s ease infinite;
  -moz-animation: up-two 20s ease infinite;
  -webkit-animation: up-two 20s ease infinite;
}

.marquee.up p:nth-child(3) {
  animation: up-three 20s ease infinite;
  -moz-animation: up-three 20s ease infinite;
  -webkit-animation: up-three 20s ease infinite;
}

/*================================
  Move the Marquee to the Left
==================================*/

/** Mozilla Firefox Keyframes **/
@-moz-keyframes left-one {
  0%  {
    -moz-transform:translateX(100%);
  }
  10% {
    -moz-transform:translateX(0);
  }
  40% {
    -moz-transform:translateX(0);
  }
  50% {
    -moz-transform:translateX(-100%);
  }
  100%{
    -moz-transform:translateX(-100%);
  }
}
@-moz-keyframes left-two {
  0% {
    -moz-transform:translateX(100%);
  }
  50% {
    -moz-transform:translateX(100%);
  }
  60% {
    -moz-transform:translateX(0);   
  }
  90% {
    -moz-transform:translateX(0);   
  }
  100%{
    -moz-transform:translateX(-100%);
  }
}
/** Webkit Keyframes **/
@-webkit-keyframes left-one {
  0% {
    -webkit-transform:translateX(100%);
  }
  10% {
    -webkit-transform:translateX(0);
  }
  40% {
    -webkit-transform:translateX(0);
  }
  50% {
    -webkit-transform:translateX(-100%);
  }
  100%{
    -webkit-transform:translateX(-100%);
  }
}
@-webkit-keyframes left-two {
  0% {
    -webkit-transform:translateX(100%);
  }
  40% {
    -webkit-transform:translateX(100%);
  }
  50% {
    -webkit-transform:translateX(0);    
  }
  60% {
    -webkit-transform:translateX(0);    
  }
  100%{
    -webkit-transform:translateX(-100%);
  }
}
@-webkit-keyframes left-three {
  0% {
    -webkit-transform:translateX(100%);
  }
  70% {
    -webkit-transform:translateX(100%);
  }
  80% {
    -webkit-transform:translateX(0);    
  }
  90% {
    -webkit-transform:translateX(0);    
  }
  100%{
    -webkit-transform:translateX(-100%);
  }
}

/*================================
  Move the Marquee Downwards
==================================*/

/** Mozilla Firefox Keyframes **/
@-moz-keyframes down-one {
  0%  {
    -moz-transform:translateY(-100%);
  }
  10% {
    -moz-transform:translateY(0);
  }
  40% {
    -moz-transform:translateY(0);
  }
  50% {
    -moz-transform:translateY(100%);
  }
  100%{
    -moz-transform:translateY(100%);
  }
}
@-moz-keyframes down-two {
  0% {
    -moz-transform:translateY(-100%);
  }
  50% {
    -moz-transform:translateY(-100%);
  }
  60% {
    -moz-transform:translateY(0);   
  }
  90% {
    -moz-transform:translateY(0);   
  }
  100%{
    -moz-transform:translateY(100%);
  }
}

/** Webkit Keyframes **/
@-webkit-keyframes down-one {
  0% {
    -webkit-transform:translateY(-100%);
  }
  10% {
    -webkit-transform:translateY(0);
  }
  40% {
    -webkit-transform:translateY(0);
  }
  50% {
    -webkit-transform:translateY(100%);
  }
  100%{
    -webkit-transform:translateY(100%);
  }
}
@-webkit-keyframes down-two {
  0% {
    -webkit-transform:translateY(-100%);
  }
  50% {
    -webkit-transform:translateY(-100%);
  }
  60% {
    -webkit-transform:translateY(0);    
  }
  90% {
    -webkit-transform:translateY(0);    
  }
  100%{
    -webkit-transform:translateY(100%);
  }
}
@-webkit-keyframes down-three {
  0% {
    -webkit-transform:translateY(-100%);
  }
  50% {
    -webkit-transform:translateY(-100%);
  }
  60% {
    -webkit-transform:translateY(0);    
  }
  90% {
    -webkit-transform:translateY(0);    
  }
  100%{
    -webkit-transform:translateY(100%);
  }
}

/*================================
  Move the Marquee Upwards
==================================*/

/** Mozilla Firefox Keyframes **/
@-moz-keyframes up-one {
  0%  {
    -moz-transform:translateY(100%);
  }
  10% {
    -moz-transform:translateY(0);
  }
  40% {
    -moz-transform:translateY(0);
  }
  50% {
    -moz-transform:translateY(-100%);
  }
  100%{
    -moz-transform:translateY(-100%);
  }
}
@-moz-keyframes up-two {
  0% {
    -moz-transform:translateY(100%);
  }
  50% {
    -moz-transform:translateY(100%);
  }
  60% {
    -moz-transform:translateY(0);   
  }
  90% {
    -moz-transform:translateY(0);   
  }
  100%{
    -moz-transform:translateY(-100%);
  }
}

/** Webkit Keyframes **/
@-webkit-keyframes up-one {
  0% {
    -webkit-transform:translateY(100%);
  }
  10% {
    -webkit-transform:translateY(0);
  }
  40% {
    -webkit-transform:translateY(0);
  }
  50% {
    -webkit-transform:translateY(-100%);
  }
  100%{
    -webkit-transform:translateY(-100%);
  }
}
@-webkit-keyframes up-two {
  0% {
    -webkit-transform:translateY(100%);
  }
  50% {
    -webkit-transform:translateY(100%);
  }
  60% {
    -webkit-transform:translateY(0);    
  }
  90% {
    -webkit-transform:translateY(0);    
  }
  100%{
    -webkit-transform:translateY(-100%);
  }
}
@-webkit-keyframes up-three {
  0% {
    -webkit-transform:translateY(100%);
  }
  50% {
    -webkit-transform:translateY(100%);
  }
  60% {
    -webkit-transform:translateY(0);    
  }
  90% {
    -webkit-transform:translateY(0);    
  }
  100%{
    -webkit-transform:translateY(-100%);
  }
}

#cloud-scroll {
width: 50%;
height: 100%;
background: url("images/bkg.png") repeat-y;
-webkit-animation: backgroundScroll 20s linear infinite;
animation: backgroundScroll 20s linear infinite;
}
 
@-webkit-keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -400px 0;}
}
 
@keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -400px 0;}
}