.modal-footer {   border-top: 0px; }
body 
{
	background: url("../images/bk.jpg") no-repeat center center fixed;
		-webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
  
    
}
.modal-content {
    
    background-color: rgba(0,0,0,.8);
    
}
.btn-primary {
    color: #fff;
    background-color: #0040FF;
    border-color: #0040FF;
}
.btn-primary:hover{
    color: #fff;
    background-color: #0c2778;
    border-color: #0c2778;
}
.input-lg
{
	background-color: rgb(221, 221, 221);
	background-image: none;
    color: rgb(0, 0, 0);
}
.text-center
{
color:#0040FF;;
}
.modal-header .close {
    color: white;
}