<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script type="text/javascript" src="http://localhost/static_file/jquery.min.js"></script>
    <script type="text/javascript" src="http://localhost/static_file/socket.io.min.js"></script>
     <script src="http://localhost/static_file/jquery.min.js" ></script>
      <link href="http://localhost/static_file/css/bootstrap.min.css" rel="stylesheet">

 <! -- Include all compiled plugins (below), or include individual
files as needed -->
 <script src="http://localhost/static_file/js/bootstrap.min.js" ></script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            // Use a "/test" namespace.
            // An application can open a connection on multiple namespaces, and
            // Socket.IO will multiplex all those connections on a single
            // physical channel. If you don't care about multiple channels, you
            // can set the namespace to an empty string.
            namespace = '/test';

            // Connect to the Socket.IO server.
            // The connection URL has the following format:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

            // Event handler for new connections.
            // The callback function is invoked when a connection with the
            // server is established.
            socket.on('connect', function() {
                socket.emit('my_event', {data: 'I\'m connected!'});
            });

            // Event handler for server sent data.
            // The callback function is invoked whenever the server emits data
            // to the client. The data is then displayed in the "Received"
            // section of the page.
            socket.on('my_response', function(msg) {
                $('#log').html('Received: ' + msg.data+msg.dollarbuying+msg.poundbuying+msg.eurobuying);
            });

            // Interval function that tests message latency by sending a "ping"
            // message. The server then responds with a "pong" message and the
            // round trip time is measured.
           

            // Handler for the "pong" message. When the pong is received, the
            // time from the ping is stored, and the average of the last 30
            // samples is average and displayed.
            

            // Handlers for the different forms in the page.
            // These accept data from the user and send it to the server in a
            // variety of ways
            $('form#emit').submit(function(event) {
                socket.emit('my_event', {data: $('#emit_data').val(),dollar:90});
                return false;
            });
            $('form#broadcast').submit(function(event) {
            
                socket.emit('my_broadcast_event', {dollarbuying: $('#dollarbuying').val(),dollarselling: $('#dollarselling').val(),poundbuying: $('#poundbuying').val(),poundselling: $('#poundselling').val(),eurobuying: $('#eurobuying').val(),euroselling: $('#euroselling').val()});


                alert('{{stri}}');
                return false;
            });
           
        });

    </script>
</head>
<body>
   <br />
   <br />
   <br />

    <form id="broadcast" method="POST" action='#' role='form'>
        <div class='form-group'>
           
            {% for row in rows %}
            <label for="name">{{row['name']}}: </label>
        <input type="text" class='form-control'name="broadcast_data" id="{{row['name']}}buying" placeholder="buying">
       <br />
       <input type="text" class='form-control'name="broadcast_data" id="{{row['name']}}selling" placeholder="selling">
       <br />
            {% endfor %}


<!--    <label for="name">Pound: </label>
        <input type="text" class='form-control'name="broadcast_data" id="poundbuying" placeholder="buying">
       <br />
            <input type="text" class='form-control'name="broadcast_data" id="poundselling" placeholder="selling">
       <br />
        <label for="name">Euro: </label>
        <input type="text" class='form-control'name="broadcast_data" id="eurobuying" placeholder="buying">
        <br />
        <input type="text" class='form-control'name="broadcast_data" id="euroselling" placeholder="selling">
        <br />
  -->      
        <button type="submit" class="btn btn-default">Update</button>
    </form>
   </div>
    <h2>Receive:</h2>
    <div id="log"></div>
</body>
</html>
