<!doctype html>
<html>
<body>
<table border=1>
<thead>
<td>id</td><td>country</td><td>name</td><td>buying</td><td>selling</td>
</thead>
{% for row in rows %}
<tr>
<td>{{row["id"]}}</td><td>{{row["country"]}}</td><td> {{
row["name"]}}</td><td>{{row['buying']}}</td><td>{{row['selling']}}</td>
 </tr>
{% endfor %}
</table>
<a href="/">Go back to home page</a>
</body>
</html>